<%- include layouts/admin_header.ejs %>
        <h1>Users in system</h1>
            <h4>Here you can see the results of the calls made by Users.</h4>
            <h4>First, select a date range, then a user.</h4>
            <form class="form-inline" method="post" action="/user/call">
            <div class"form-group">
                <input type="date" class="form-control" name="datestart" placeholder="Start Date">
                <input type="date" class="form-control" name="datefinish" placeholder="Finish Date">
            
                    <table class="table">
                        <tr>
                            <th width="50px">No</th>
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>Action</th>
                        </tr>
                                       
                        <% if(data.length){ 
                                        
                         for(var i = 0;i < data.length;i++) { %>
                         
                        <tr>
                            <td><%=(i+1)%></td>
                            <td><%=data[i].name%></td>
                            <td><%=data[i].last_name%></td>
                            <td><%=data[i].username%></td>
                            <td>
                                <button type="submit" name="iduser" value="<%=data[i].iduser%>">Call Results</button>
                                                     
                            </td>
                        </tr>
                    <% }
                    
                     }else{ %>
                         <tr>
                            <td colspan="3">No Users.</td>
                         </tr>
                    <% } %>
                                 
                    </table>
            </form>
<%- include layouts/footer.ejs %>