<%- include layouts/admin_header.ejs %>
        <div class ="col-md-4">
            <h1>Contacts</h1>
        </div>
        <div class ="col-md-2 col-md-offset-4">
        <a href="/contact/add" class="btn btn-default"><span class="fa fa-user"></span> + Add</a>
        </div>
        <script type="text/javascript" src="http://cdn.dev.skype.com/uri/skype-uri.js"></script>
         <div clas="table-responsive">
            <table class="table">
                <tr>
                    <th width="50px">No</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].last_name%></td>
                    <td><%=data[i].phone%></td>
                    <td>
                            <a class="btn btn-warning btn-xs a-inside edit" href="../contact/edit/<%=data[i].phone%>">Edit</a>
                           
                            <a class="btn btn-danger btn-xs a-inside delete" href="../contact/delete/<%=data[i].idcontact%>">Delete</a>

                            <a href="skype:+<%=data[i].phone%>?call" class="btn btn-success">Call</a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No contacts to call</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
         
        
<%- include layouts/footer.ejs %>