<%- include layouts/header.ejs %>

        <div class="page-data">
            
            <form method="post" action="/contact/edit/<%=data[0].id%>">
                <table cellpadding="11">
                <tr>
                    <td class="label">Name</td><td>: <input type="text" name="name" value="<%=data[0].name%>" required></td>
                 </tr>
                 <tr>
                    <td class="label" valign="top">Last Name</td>
                    <td valign="top">: 
                        <textarea name="last_name" required cols="30" rows="5"><%=data[0].last_name%></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label">Phone</td><td>: <input type="text" value="<%=data[0].phone%>" name="phone" required></td>
                 </tr>
                  <tr>
                    <td class="label">To Call</td><td>: <select name="to_call"><option value="yes">Yes</option><option value="no">No</option></select> </td> 
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>