<%- include layouts/admin_header.ejs %>
		<h1>Projects registered</h1>
		<h4>Here you can create or delete projects, add quizzes to a project, and enable or disable a quiz related to a project.</h4>
		 
            <table class="table">
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>Finish Date</th>
                    <th>Customer</th>
                    <th>EDIT</th>
                </tr>
                               
                <% if(data.length){ 
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].startdate%></td>
                    <td><%=data[i].finishdate%></td>
                    <td><%=data[i].customer%></td>
                    <td><a class="btn btn-danger btn-xs a-inside delete" href="../proyect/delete/<%=data[i].idproyect%>">Delete</a>
                    	<a class="btn btn-success btn-xs a-inside" href="../quiz/list/<%=data[i].idproyect%>">Quizes</a>
                    </td>
                </tr>
            <%		 
           		}
             }else{ %>
                 <tr>
                    <td colspan="3">No project registered.</td>
                 </tr>
            <% } %>
            	<tr>
                	<th>
                		<a href="../proyect/add" class="btn btn-primary"><span class="fa fa-users"></span> + Add</a>
                	</th>
                </tr>
                              
            </table>





<%- include layouts/footer.ejs %>