<%- include layouts/admin_header.ejs %>
            <%if(data.length){
                 var success = 0;
                 var notsuccess = 0;
                 for(var i = 0;i < data.length;i++) {
                 	if (data[i].status = 'success')
                 		success = success + 1;
                 	else notsuccess = notsuccess + 1;
            	}
            }%>
            	<table class="table">
                    <tr>
                        <th>Status</th>
                        <th>Total Calls</th>
                    </tr>
                    <tr>
                    <tr>
                    	<td>Success</td>
                    	<td><%=success%></td>
                    </tr>

                    <tr>
                    	<td>Not success</td>
                    	<td><%=notsuccess%></td>
                    </tr>
                </table>
                <h1>Total calls: <%=(success + notsuccess)%></h1>
                 
           
     
<%- include layouts/footer.ejs %>