<%- include layouts/admin_header.ejs %>
		<h1>Quizzes registered</h1>
		<h4>Here you can create or delete quizzes or enable/disable a quiz, so users can't answer it.</h4> 
		 
            <table class="table">
                <tr>
                    <th width="50px">No</th>
                    <th>Name</th>
                    <th>URL</th>
                    <th width="300px">EDIT</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].link%></td>
                    <td><a class="btn btn-danger btn-xs a-inside delete" href="../delete/<%=idproject%>/<%=data[i].idquiz%>">Delete</a>
                    	<%if(data[i].activated){%>
                    		<a class="btn btn-danger btn-xs a-inside delete" href="../disable/<%=idproject%>/<%=data[i].idquiz%>/0">Disable</a>
                   	 <%} else {%>
                    		<a class="btn btn-success btn-xs a-inside delete" href="../disable/<%=idproject%>/<%=data[i].idquiz%>/1">Enable</a>
                   </td>
            <%		    } 
           		}
             }else{ %>
                 <tr>
                    <td colspan="3">No quizzes registered.</td>
                 </tr>
            <% } %>

            	<tr>
                	<th>
                		<a href="/quiz/add/<%=idproject%>" class="btn btn-primary"><span class="fa fa-clipboard"></span> + Add</a>
                	</th>
                </tr>
                              
            </table>
        
<%- include layouts/footer.ejs %>