<!DOCTYPE html>
<html>
<head>
    <title>Call Service</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:0px; }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .btn-default{
            margin-bottom: 5px;
            width: 150px;
            font-size: 15px;
            text-align: left;
        }
        .btn-primary{
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><%=page_title%></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user_logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<div class="col-md-8 col-md-offset-2">
    <h1>Choose Project</h1>
    <h4>Select a project to make calls.</h4>

    <table class="table">
        <tr>
            <th width="50px">No</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>Finish Date</th>
            <th>Customer</th>
            <th></th>
        </tr>

        <% if(data.length){
        for(var i = 0;i < data.length;i++) { %>

        <tr>

            <td><%=(i+1)%></td>
            <td><%=data[i].name%></td>
            <td><%=data[i].startdate%></td>
            <td><%=data[i].finishdate%></td>
            <td><%=data[i].customer%></td>
            <td><a class="btn btn-success btn-xs a-inside" href="/call/<%=data[i].idproject%>">Start Calls</a></td>
        </tr>
            <%
            }
            }else{ %>
        <tr>
            <td colspan="3">No projects registered.</td>
        </tr>
        <% } %>
</div>
</body>
</html>
